@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Sora:wght@600;700;800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@view-transition {
    navigation: auto;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: oklch(0.9842 0.0080 98.8765);
    --foreground: oklch(0.3556 0.0389 95.7884);
    --card: oklch(0.9848 0.0013 106.4233);
    --card-foreground: oklch(0.2781 0.0296 256.8480);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2781 0.0296 256.8480);
    --primary: oklch(0.4815 0.0915 142.7133);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9375 0.0147 142.2277);
    --secondary-foreground: oklch(0.3835 0.0918 141.6860);
    --muted: oklch(0.9276 0.0058 264.5313);
    --muted-foreground: oklch(0.5510 0.0234 264.3637);
    --accent: oklch(0.6180 0.1171 60.3991);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.5771 0.2152 27.3250);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.4815 0.0915 142.7133);
    --chart-1: oklch(0.4815 0.0915 142.7133);
    --chart-2: oklch(0.6180 0.1171 60.3991);
    --chart-3: oklch(0.5091 0.0731 241.3755);
    --chart-4: oklch(0.6814 0.1281 68.0944);
    --chart-5: oklch(0.6221 0.0980 160.6866);
    --sidebar: oklch(0.9692 0.0121 96.4218);
    --sidebar-foreground: oklch(0.3556 0.0389 95.7884);
    --sidebar-primary: oklch(0.4815 0.0915 142.7133);
    --sidebar-primary-foreground: oklch(0.9881 0 0);
    --sidebar-accent: oklch(0.9300 0.0204 94.5333);
    --sidebar-accent-foreground: oklch(0.3556 0.0389 95.7884);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0.7731 0 0);
    --font-sans: 'Manrope', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    --font-serif: 'Sora', ui-serif, Georgia;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.375rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 1px 1px 3px 1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 1px 1px 3px 1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 1px 2px 0px hsl(0 0% 0% / 0.10);
    --shadow: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 1px 2px 0px hsl(0 0% 0% / 0.10);
    --shadow-md: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 2px 4px 0px hsl(0 0% 0% / 0.10);
    --shadow-lg: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 4px 6px 0px hsl(0 0% 0% / 0.10);
    --shadow-xl: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 8px 10px 0px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 1px 1px 3px 1px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2417 0.0298 269.8827);
    --foreground: oklch(0.9612 0 0);
    --card: oklch(0.2768 0.0216 265.8107);
    --card-foreground: oklch(0.9612 0 0);
    --popover: oklch(0.2768 0.0216 265.8107);
    --popover-foreground: oklch(0.9612 0 0);
    --primary: oklch(0.5406 0.0773 152.7118);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.3759 0.0684 139.6636);
    --secondary-foreground: oklch(0.8403 0.0542 140.8811);
    --muted: oklch(0.3729 0.0306 259.7328);
    --muted-foreground: oklch(0.7137 0.0192 261.3246);
    --accent: oklch(0.6661 0.1315 61.2938);
    --accent-foreground: oklch(0.2781 0.0296 256.8480);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3729 0.0306 259.7328);
    --input: oklch(0.3729 0.0306 259.7328);
    --ring: oklch(0.5406 0.0773 152.7118);
    --chart-1: oklch(0.5406 0.0773 152.7118);
    --chart-2: oklch(0.6661 0.1315 61.2938);
    --chart-3: oklch(0.6227 0.0860 246.2753);
    --chart-4: oklch(0.7538 0.1213 78.1890);
    --chart-5: oklch(0.6652 0.0956 160.4644);
    --sidebar: oklch(0.2357 0.0024 67.7077);
    --sidebar-foreground: oklch(0.8131 0.0211 94.5716);
    --sidebar-primary: oklch(0.3250 0 0);
    --sidebar-primary-foreground: oklch(0.9881 0 0);
    --sidebar-accent: oklch(0.2174 0.0019 106.5582);
    --sidebar-accent-foreground: oklch(0.8131 0.0211 94.5716);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0.7731 0 0);
    --font-sans: 'Manrope', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    --font-serif: 'Sora', ui-serif, Georgia;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.375rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 1px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 1px 1px 3px 1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 1px 1px 3px 1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 1px 2px 0px hsl(0 0% 0% / 0.10);
    --shadow: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 1px 2px 0px hsl(0 0% 0% / 0.10);
    --shadow-md: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 2px 4px 0px hsl(0 0% 0% / 0.10);
    --shadow-lg: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 4px 6px 0px hsl(0 0% 0% / 0.10);
    --shadow-xl: 1px 1px 3px 1px hsl(0 0% 0% / 0.10), 1px 8px 10px 0px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 1px 1px 3px 1px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-nordic-green: var(--primary);
    --color-bronze: var(--accent);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer components {
    .card{
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 4px;
            background: linear-gradient(90deg, var(--color-nordic-green) 0%, var(--color-bronze) 100%);
        }
        @apply px-8 py-8 rounded-lg shadow-md relative;
    }

    .form-input{
        @apply border border-ring rounded-md focus:ring-accent focus:border-accent block w-full px-2.5 py-2 shadow-xs placeholder:text-base;
    }
}

@layer utilities {


    .fadeOut{
        animation: fade-out .75s;
    }

    .fadeIn{
        animation: fade-in .75s;
    }
}

::view-transition-new(root) {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-40 0 40 40"><circle cx="0" cy="0" r="20" fill="white"/></svg>')
    top right / 0 no-repeat;
    mask-origin: content-box;
    animation: scale .8s;
    animation-fill-mode: both;
    transform-origin: top left;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
    animation: scale .8s;
    animation-fill-mode: both;
    transform-origin: top left;
    z-index: -1;
}
.dark::view-transition-new(root) {
    animation: scale .8s;
    animation-fill-mode: both;
}

@keyframes scale {
    to {
        mask-size: 300vmax;
    }
}
